.cache
Téléchargements
.mozilla
Documents
examples.desktop
.bash_logout
*.swp
virtualenvironment
.gnupg
Images
.gnome
Vidéos
.SpaceVim.d
.pki
Public
.ssh
.profile
.config
.virtualenvs
Musique
Modèles
.local/
code
.ICEauthority
*.java
*.js
*.html
*.py
.sudo_as_admin_successful
